:root {
  --bg-color: #ffffff; /* Reemplaza #yourPrimaryColor con el código de color que prefieras */
  --primary-color: #0a192f; /* Reemplaza #yourSecondaryColor con el código de color que prefieras */
  --dark-primary-color: #040e25; /* Reemplaza #yourSecondaryColor con el código de color que prefieras */
  --secondary-color: #50cbb0;
  --accent-color: #e84545; /* Reemplaza #yourSecondaryColor con el código de color que prefieras */
  --accent-secondary-color: #903749; /* Reemplaza #yourSecondaryColor con el código de color que prefieras */
  --text-color: #000000; /* Reemplaza #yourTextColor con el código de color que prefieras */
  --misc: #605f5e; /* Reemplaza #yourTextColor con el código de color que prefieras */

}

.App {
  background-color: var(--bg-color);; /* Reemplaza #yourColor con el código de color que prefieras */
  height: 100vh; /* Esto hace que el div ocupe toda la altura de la pantalla */
  width: 100%; /* Esto hace que el div ocupe toda la anchura de la pantalla */
  margin: 0; /* Esto elimina los márgenes */
  padding: 0; /* Esto elimina el padding */
  box-sizing: border-box; /* Esto asegura que el padding y el borde no aumenten el tamaño del div */
}
